
html,body
{
	height:100%;
	padding:0;
	margin:0;
}
@font-face 
{
    font-family: "Russo";
    src: url("Assets/Fonts/russo-one/RussoOne-Regular.ttf");
}

body
{
	background-image: url("Assets/HomePage/hsBackground.jpg");
	background-size:     cover; 
    background-repeat:   no-repeat;
	display:grid;
	grid-template-rows: 1fr 2.5fr 1fr;
	justify-content: center;
}
header
{
	height:100%;
	width:100%;
	text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
	/* padding:10%; */
}
#pageLogo
{
	height:100%;
	width:auto;
}
@media only screen and (max-width: 800px) {
	#pageLogo
	{
		height:70%;
		width:auto;
	}
  }
main
{
	height:max(32.85vw, 43.8vh);
	border-radius: min(1vw,1vh);
	width:max(45vw, 60vh);
	margin:auto;
	background-image: url("Assets/HomePage/hsBoxbackground.png");
	background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;   
	display: flex;
}
#menuBox 
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	height: max(9vw, 12vh);
	width: max(8.1vw, 10.8vh);
	align-items: center; /* Center items vertically */
	margin: auto; 
    align-items: center;
}

.gameOption 
{
	height:max(1.3vw, 1.6vh);
	width:100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background-image: url("Assets/HomePage/hearthstoneButton.png");
	background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;   
	color:black;
	font-family: "Russo";
	font-size: max(.8vw,1vh);
}

footer
{
	height:10%;
}


