
html,body
{
	min-height:100%;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
body
{
	background-image: url("../Assets/CardGuess/background.png 	");
	background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;       
	background-attachment: fixed;
}
header
{
	height:20%;
	text-align: center;
	object-fit: contain;
	display:flex;
	align-items: center;
	justify-content: center;
}

header input
{
	height:100%;
	width:auto
}
header a
{
	height:70%;
	width:auto;
}

main
{
	min-height:70%;
}
#centeringDiv
{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: end;
}
#searchInputBackground
{
	width:max(40vw,35vh);
	height:max(4.6vw ,4.025vh);
	max-width: 400px;
	max-height: 46px;
	background-image: url("../Assets/SearchBar/searchBar.png");
	background-size:     cover; 
	background-position: center center;    
	display:flex;
	align-items: center;
	justify-content: center;
	
}
#searchInputHolder
{
	width:92%;
	height:70%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#menuBox 
{
	width: max(40vw,35vh); 
	margin: auto; 
}

#dropdownCenteringDiv
{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
}

#dropdownHolder
{
	width:max(40vw,35vh);
	display:flex;
	justify-content: center;
	max-width: 400px;
	position: relative;
}
#guessBox
{
	width:100%;
	height:100%;
}
#guessResults
{
	display:flex;
	align-items: center;
	flex-direction: column;
	gap: 4px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.individualGuess
{
	display: grid; 
	grid-template-columns: repeat(6, minmax(0, max(5vw,5vh)));
	justify-items: center;
	gap: max(0.3vh,0.3vw);
	animation:ease-in 2s;

}

.individualGuess
{
	background-image: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.individualGuess div 
{
	height: max(5vw,5vh);
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: max(1vw,1vh);
	margin:0;
	padding:0;
	animation: fadeIn 0.5s ease-in forwards;
	font-size:max(.9vw,.9vh);
	
}
#correctGuessHolder
{
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
#correctGuess
{
	background-image: url("../Assets/CardGuess/successfullGuess.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width:100%;
	max-width: max(50vh,50vh);
	aspect-ratio: 652/802;
	display:grid;
	grid-template-rows: 1.2fr 4.8fr;
}
#correctGuess h1
{
	display:flex;
	justify-content: center;
	align-items:end;
	font-family: "Russo";
	font-size: max(1.5vw,2vh);
}
#correctGuessImageHolder
{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
}
#correctGuess img
{
	width:70%;
	height:auto;
	text-align: center;
	padding-left:17px;
}

footer
{
	bottom:0;
	height:10%;
}